.dashboard {
  .flex-style {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    .w-50 {
      width: 50%;
      margin: 10px;
      padding: 10px;
      border: 2px solid red;
      border-radius: 5px;
      .mat-card {
        margin: 10px 0px;
        max-height: 200px;
        overflow-y: auto;
        .header-text {
          margin-left: -16px;
        }
        .img-container {
          float: left;
          padding-right: 10px;
          .img-style {
            height: 100px;
            width: 100px;
          }
        }
      }
    }
  }
}
